
body {
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.jueves {
    height: 28em;
    width: 28em;

    /* background-color: black; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#columna-izquierda {
    width: 14em;
    height: 28em;

    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#columna-derecha {
    width: 14em;
    height: 28em;

    background-color: coral;
}

#columna-izquierda-arriba {
    height: 4em;
    width: 14em;
    /* background-color: darkgreen; */

    display: flex;
    flex-direction: row;
    
}

#columna-izquierda-abajo {
    height: 24em;
    width: 14em;

    background-color: grey;
}

#gatillo-izquierda {
    height: 4em;
    width: 4em;

    background-color: grey;

    border-radius: 10em 0em 0em 0em;
}

#gatillo-derecha {
    height: 4em;
    width: 10em;

    background-color: grey;
}